<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="Funcionarios">
        <mat-icon>work</mat-icon>
        <span>Funcionarios</span>
      </button>
      <mat-menu #Funcionarios="matMenu">
        <button mat-menu-item routerLink="cadastro-funcionario" routerLink="/cadastro-funcionario">
          <mat-icon>add_circle_outline</mat-icon>
          <span>Cadastrar</span>
        </button>
        <button mat-menu-item>
          <mat-icon>list_alt</mat-icon>
          <span>Listar</span>
        </button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="Clientes">
        <mat-icon>person</mat-icon>
        <span>Clientes</span>
      </button>
      <mat-menu #Clientes="matMenu">
        <button mat-menu-item routerLink="/cadastro-cliente">
          <mat-icon>add_circle_outline</mat-icon>
          <span>Cadastrar</span>
        </button>
        <button mat-menu-item>
          <mat-icon>list_alt</mat-icon>
          <span>Listar</span>
        </button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="Produtos">
        <mat-icon>store_mall_directory</mat-icon>
        <span>Produtos</span>
      </button>
      <mat-menu #Produtos="matMenu">
        <button mat-menu-item routerLink="/cadastro-produto">
          <mat-icon>add_circle_outline</mat-icon>
          <span>Cadastrar</span>
        </button>
        <button mat-menu-item>
          <mat-icon>list_alt</mat-icon>
          <span>Listar</span>
        </button>
      </mat-menu>
      <button mat-menu-item routerLink="/compra">
        <mat-icon>local_grocery_store</mat-icon>
        <span>Compra</span>
      </button>
    </mat-menu>
    <span>Mini Box</span>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>